*  {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;

    background: #101414;
    color: #eee5cf;

    font-family:
        Helvetica,
        Arial,
        sans-serif;
}

.poster {
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding: 60px;
}

.label {
    margin-bottom: 24px;

    font-size: 48px;
    letter-spacing: 5px;

    color: rgba(238, 229, 207, 0.5);
}

.image1 {
    width: 800px;
    height: 500px;

    margin-bottom: 35px;

    background-image:
        url("../img/mallfront.png");

    background-size: cover;
    background-position: center;

    border: 1px solid
        rgba(238, 229, 207, 0.2);
}

.image2 {
    width: 800px;
    height: 500px;

    margin-bottom: 35px;

    background-image:
        url("../img/elevator.png");

    background-size: cover;
    background-position: center;

    border: 1px solid
        rgba(238, 229, 207, 0.2);
}

.image3 {
    width: 800px;
    height: 500px;

    margin-bottom: 35px;

    background-image:
        url("../img/clothes.png");

    background-size: cover;
    background-position: center;

    border: 1px solid
        rgba(238, 229, 207, 0.2);
}

.image4 {
    width: 800px;
    height: 500px;

    margin-bottom: 35px;

    background-image:
        url("../img/electronics.png");

    background-size: cover;
    background-position: center;

    border: 1px solid
        rgba(238, 229, 207, 0.2);
}

.image5 {
    width: 800px;
    height: 500px;

    margin-bottom: 35px;

    background-image:
        url("../img/register.png");

    background-size: cover;
    background-position: center;

    border: 1px solid
        rgba(238, 229, 207, 0.2);
}



h1 {
    margin: 0;

    font-size: 36px;
    letter-spacing: 6px;

    color: #cc33ff;
}

a {
    max-width: 460px;

    margin-top: 16px;
    margin-bottom: 0;

    text-align: center;
    line-height: 1.6;

    color:
        rgba(32, 91, 255, 0.68);
}
